
    input[type='checkbox'] {
        display: none;
    }

    .wrap-collabsible {
        margin: 1.2rem 0;
    }

    .lbl-toggle {
        display: block;
        cursor: pointer;
        border-radius: 7px;
        transition: all 0.25s ease-out;
        margin-left: 10px;
        padding-left: 10px;
        color: #0000ff;
    }


    .lbl-toggle::before {
        content: ' ';
        display: inline-block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid currentColor;
        vertical-align: middle;
        margin-right: .7rem;
        transform: translateY(-2px);
        transition: transform .2s ease-out;
    }

    .toggle:checked+.lbl-toggle::before {
        transform: rotate(90deg) translateX(-3px);
    }

    .collapsible-content {
        max-height: 0px;
        overflow: hidden;
        transition: max-height .25s ease-in-out;
    }

    .toggle:checked+.lbl-toggle+.collapsible-content {
        max-height: 350px;
    }

    .toggle:checked+.lbl-toggle {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .collapsible-content .content-inner {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        padding-left: 35px;
    }

    .collapsible-content p {
        margin-bottom: 0;
    }

    ul.square {
        list-style-type: square;
        margin: 0px;
        color: #0000ff;
    }
